// COLORS
$color-blue: #426584;
$color-link-grey: #5c5c5c;
$color-text-black: #121923;
$color-orange: #d5a86c;

// APPROACH
$color-grey-item-background: #dadee3;

// PORTFOLIO
$color-white-background: #eef1f5;
