.about {
  background-color: #fff;
  color: $color-text-black;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;

  &__header {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__description {
    font-size: 2rem;
    font-weight: 300;
    width: 40%;
    margin: 1.5rem auto;
    margin-bottom: 4rem;
  }

  &__image-container {
    height: 10rem;
  }

  &__legal {
    margin-top: 5rem;
    font-size: 1.3rem;
    text-align: left;
  }
}

.about-content-wrapper {
  width: $container-width;
  margin: 0 auto;
}

.carousel-container {
  background-color: #fff;
  margin-bottom: 1rem;
  display: inline-flex !important;

  i {
    font-size: 6rem;
    background-image: linear-gradient(to right, $color-orange, $color-orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 3rem;
  }
}

.carousel-item {
  display: inline-block;
  margin: 1.8rem;

  h3 {
    color: rgb(60, 67, 75);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  p {
    color: rgb(18, 25, 35);
    font-size: 2.2rem;
    font-weight: 300;
    max-width: 21rem;
  }
}

.slick-dots li button {
  background-color: lightgrey !important;
  height: 4px !important;
  width: 30px !important;
  padding: 0 !important;

  &:before {
    display: none !important;
  }
}

.slick-dots .slick-active button {
  background-color: $color-blue !important;
}

.slick-dots li {
  margin: 0 10px;
}

.slick-slide div:focus {
  outline: none !important;
}
